{% extends "base.html" %}
{% block content %}
<div class="container">
        <br><br>
        <h2 style="text-align:center;">Incluir um Livro</h2>
        <form class="bookform" action= "" method="POST">
            {{form.csrf_token}}
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="title">Titulo</label>
              {{form.title(class= "form-control")}}
            </div>
            <div class="col-md-6 mb-3">
              <label for="author">Autor</label>
              {{form.author(class= "form-control")}}
            </div>
          </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="serie">Serie</label>
                  {{form.serie(class= "form-control")}}
                </div>
                <div class="col-md-6 mb-3">
                  <label for="edition">Edição</label>
                  {{form.edition(class= "form-control")}}
                </div>
              </div>
            <div class="row">
            <!---<div class=" col-md-6 mb-3">-->
             {% for subfield in form.type %}
                <div class=" col-md-6 mb-3">{{ subfield }} {{ subfield.label }}</div>
             {% endfor %}
            </div>

          <div class="mb-3">
                <label for="school">Escola</label>
                {{form.school(class= "form-control")}}
          </div>
          <div class="mb-3">
                <label for="translateversion">Versao da Traducao</label>
                {{form.translateversion(class= "form-control")}}
          </div>
          <div class="mb-3">
                <label for="phisicalstate">Estado fisico do livro</label>
                {{form.phisicalstate(class= "form-control",  placeholder="Paginas amareladas, marcas com canetas, etc")}}

          </div>
          <div class="mb-3">
                <label for="price">Preço do livro</label>
                {{form.price(class= "form-control")}}
          </div>

            <a href="{{ url_for('uploadImage') }}">
             <div class="form-group">
                 <label for="in-file">Carregar imagens do livro</label>
                 <input type="file" class="form-control" id="in-file" name="file" accept="image/*" multiple>
             </div>
            </a>
            <hr class="mb-4">
            <div class="mb-3">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
            </div>
        </form>
</div>
{% endblock %}