{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12">
                    <i class="fas fa-user-circle fa-2x"></i><h2>{{ user.name }}</h2>
                    {% if user.about_me %}<p><strong>About-me: {{ user.about_me }}</strong></p>{% endif %}
                    <p>
                        <i class="far fa-envelope"> </i>{{ user.email }}
                        <br>
                        <i class="fas fa-map-marker-alt"> </i>{{ user.address }}
                        <br>
                        <i class="fas fa-star"> </i>{{ user.reputation }}
                    </p>
                </div>

                <div class="btn-group">

                    {% if user == current_user %}
                      <a href="{{ url_for('listbooks', id = current_user.id) }}" class="btn btn-outline-warning" role="button"> Ver meus livros <i class="fas fa-book"></i></a>
                      <a href="{{ url_for('edit_profile') }}" class="btn btn-outline-info" role="button">Editar perfil <i class="fas fa-cog"></i></a>
             	      <a href="{{ url_for('addbook') }}" class="btn btn-outline-success" role="button">Adicionar um livro <i class="fas fa-plus-circle"></i></a>         
                    {% else %}
                        <a href="{{ url_for('listbooks', id= user.id) }}" class="btn btn-outline-warning" role="button"> Ver livros do usuário<i class="fas fa-book"></i></a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
