{% extends "base.html" %}
{% block content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <br/>
        <h1 style="text-align:center;">Books</h1>
        {% if departments %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Title </th>
                  <th width="40%"> Author </th>
                  <th width="15%"> ID </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for book in books %}
                <tr>
                  <td> {{ book.title}} </td>
                  <td> {{ book.author }} </td>
                  <td>
                    <!--><a href="{{ url_for('bookController.editbook', id=book.id) }}"><!-->
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('bookController.deletebook', id=book.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No books have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('bookController.addbook') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Book
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}